<div class="container">
  <h1>Gym Bro 52</h1>

  <div class="actions">
    <%= button_to "Абонементы", memberships_path, method: :get, class: "button" %>
    <%= button_to "Тренеры", trainers_path, method: :get, class: "button" %>
    <%= button_to "Тренировки", workouts_path, method: :get, class: "button" %>
  </div>
  
  <!--<div class="container">
  <h1>Управление базой данных</h1>

  <%= link_to "Подключиться к базе данных", connect_database_path, class: "button" %>
  <%= link_to "Отключиться от базы данных", disconnect_database_path, class: "button secondary" %>
</div> -->
</div>